services:
  api:
    build: .
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - MONGODB_URI=mongodb://mongo:27017/simple_ecommerce
      - JWT_SECRET=replace_me
      - JWT_EXPIRES_IN=7d
      - ADMIN_REGISTER_SECRET=change_me
      - CORS_ORIGIN=*
    depends_on:
      - mongo
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
